 /* Chat button */

 .chat_button__container {
   margin-block-start: 0 !important;
 }

 .chat_button__container .chat_button__link {
   padding: var(--wp--custom--button--padding-y) var(--wp--custom--button--padding-x);
   padding-right: 60px;
   position: relative;
   background-color: var(--wp--preset--color--primary);
   color: var(--wp--preset--color--background);
   font-size: var(--wp--preset--font-size--text-sm);
   font-weight: 700;
   line-height: 115%;
   border-radius: var(--wp--custom--border-radius--button);
   transition: all 200ms ease-in;
 }

 .chat_button__container .chat_button__link:hover {
   background-color: var(--wp--preset--color--blue-500);
 }

 .chat_button__container .chat_button__link:active {
   background-color: var(--wp--preset--color--dark-blue);
 }

 .chat_button__container .chat_button__link:disabled {
   background-color: var(--wp--preset--color--grey);
   color: var(--wp--preset--color--light-grey);
   cursor: not-allowed;
 }

 .has-hero .chat_button__container .chat_button__link {
   background-color: var(--wp--preset--color--background);
   color: var(--wp--preset--color--primary);
   transition: all 200ms ease-in;
 }

 .has-hero .chat_button__container .chat_button__link:hover {
   background-color: var(--wp--preset--color--light-blue);
 }

 .has-hero .chat_button__container .chat_button__link:active {
   background-color: var(--wp--preset--color--blue-100);
 }

 .has-hero .chat_button__container .chat_button__link:disabled {
   background-color: var(--wp--preset--color--grey);
   color: var(--wp--preset--color--light-grey);
   cursor: not-allowed;
 }

 .chat_button__container .chat_button__link::after {
   content: '';
   background-color: currentColor;
   mask: url('../../assets/images/telegram-fill.svg') no-repeat center / contain;
   -webkit-mask: url('../../assets/images/telegram-fill.svg') no-repeat center / contain;
   width: 20px;
   height: 20px;
   position: absolute;
   right: 27px;
   top: 15px;
 }