/* ======================= Footer ==================== */
.site-footer {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.uuwg-site-footer__content {
  max-width: var(--wp--style--global--wide-size);
  margin: 0 auto;
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  padding-top: 80px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo       nav       nav       nav       donate"
    "subscribe  subscribe contacts  legal     location"
    "copyright  copyright socials   socials   socials";
  align-items: start;
  column-gap: 100px;
  row-gap: 96px;
  justify-items: center;
  justify-content: space-between;
}

.uuwg-site-footer__content .uuwg-site-logo {
  grid-area: logo;
  align-self: center;
}

.uuwg-site-footer__content nav[aria-label^="Main Nav"] {
  grid-area: nav;
  flex-wrap: nowrap;
  margin-block-start: 0;
  padding: 18.5px 0;
}

.uuwg-site-footer__content .wp-block-buttons:first-of-type {
  grid-area: donate;
  margin-block-start: 0;
  align-self: center;
}

.uuwg-site-footer__content .wp-block-buttons:first-of-type .wp-block-button__link {
  white-space: nowrap;
}

.uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) {
  grid-area: subscribe;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 413px;
  margin-block-start: 0;
}

.uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) h4 {
  font-size: var(--wp--preset--font-size--text-body);
  margin-right: auto;
}

.uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) .wp-block-paragraph:first-of-type {
  margin-block-start: 0;
  margin-bottom: 8px;
  font-size: var(--wp--preset--font-size--text-sm);
}

.uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) p {
  margin-block-start: 0;
}

.uuwg-site-footer__content .contacts {
  grid-area: contacts;
  font-size: var(--wp--preset--font-size--text-sm);
}

.uuwg-site-footer__content .legal {
  grid-area: legal;
  font-size: var(--wp--preset--font-size--text-sm);
  color: var(--wp--preset--color--blue-200);
  font-weight: 600;
  line-height: 115%;
}

.uuwg-site-footer__content .legal .wp-block-navigation__container {
  flex-direction: column;
  white-space: nowrap;
  align-items: self-start;
}

.uuwg-site-footer__content .location {
  grid-area: location;
  font-size: var(--wp--preset--font-size--text-sm);
}

.uuwg-site-footer__content .copyright {
  grid-area: copyright;
  justify-self: self-start;
}

.uuwg-site-footer__content .wp-block-social-links {
  grid-area: socials;
  justify-self: self-end;
}

.uuwg-site-footer__content h4 {
  font-weight: 700;
  color: var(--wp--preset--color--blue-500);
  font-size: var(--wp--preset--font-size--text-sm);
}

.footer__part2 .wp-block-column:first-of-type {
  flex-basis: 413px;
  flex-grow: 0;
}

.footer__part2 p {
  margin: 0;
  padding: 0;
}

.footer__part2 nav {
  margin: 0;
}

.uuwg-contact-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--wp--preset--color--blue-200);
}

.site-footer .is-style-wide {
  border-color: var(--wp--preset--color--background);
  position: absolute;
  width: 100%;
  bottom: 132px;
  margin-block-start: 0;
}

/* Subscribe form */

#mc4wp-form-1 {
  margin: 0;
  width: 100%;
}

#mc4wp-form-1 .uuwg_subscribe {
  padding: 0;
  margin: 0;
  display: flex;
  border: none;
  position: relative;
}

#mc4wp-form-1 .uuwg_subscribe input[type="email"] {
  padding: 17px 44px 17px 16px;
  width: 100%;
  max-width: 413px;
  border-radius: 8px;
  border: none;
  background-color: var(--wp--preset--color--background);
  font-size: var(--wp--preset--font-size--text-medium);
  color: var(--wp--preset--color--primary);
}

#mc4wp-form-1 .uuwg_subscribe input[type="email"]::placeholder {
  color: #899EAC;
  font-size: var(--wp--preset--font-size--text-sm);
  font-weight: 600;
  line-height: 115%;
}

#mc4wp-form-1 .uuwg_subscribe button[type="submit"] {
  padding: 13.2px;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8.8px;
  font-size: 0;
  border: none;
  background-color: var(--wp--preset--color--secondary);
  cursor: pointer;
}

#mc4wp-form-1 .uuwg_subscribe button[type="submit"]::before {
  content: url('../../images/glyphs_arrow-bold.svg');
  position: absolute;
  width: 17.6px;
  height: 17.6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1260px) {
  .uuwg-site-footer__content {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1040px) {
  .uuwg-site-footer__content {
    padding-top: 32px;
    padding-bottom: 32px;
    grid-template-columns: 1.5fr 1fr 1fr;
    row-gap: 44px;
    grid-template-areas:
      "logo       .         donate"
      "nav        legal     location"
      " . . ."
      "contacts   subscribe subscribe"
      " . . ."
      "socials    copyright copyright";
    grid-template-rows: 50px 116px 1px 152px 1px 44px;
  }

  .uuwg-site-footer__content .uuwg-site-logo {
    justify-self: self-start;
  }

  .uuwg-site-footer__content .wp-block-buttons:first-of-type {
    justify-self: self-end;
  }

  .uuwg-site-footer__content nav[aria-label^="Main Nav"] {
    padding: 0;
    justify-self: self-start;
    position: relative;
  }

  .uuwg-site-footer__content nav[aria-label^="Main Nav"] .wp-block-navigation__container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 110px;
    column-gap: 84px;
    row-gap: 12px;
    align-items: start;
    justify-content: flex-end;
    font-weight: 600;
    color: var(--wp--preset--color--blue-200);
    font-size: var(--wp--preset--font-size--text-sm);
  }

  .uuwg-site-footer__content nav[aria-label^="Main Nav"]::before {
    content: 'Menu';
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--wp--preset--color--blue-500);
    font-size: var(--wp--preset--font-size--text-sm);
    margin-bottom: 16px;
  }

  .uuwg-site-footer__content .legal {
    margin-block-start: 0;
    justify-self: self-start;
  }

  .uuwg-site-footer__content nav[aria-label^="Menu"] {
    margin-block-start: 0;
  }

  .uuwg-site-footer__content .legal h4 {
    margin-bottom: 12px;
  }

  .uuwg-site-footer__content .legal .wp-block-navigation__container {
    row-gap: 12px;
  }

  .uuwg-site-footer__content .location {
    margin-block-start: 0;
    justify-self: self-start;
  }

  .uuwg-site-footer__content .location p {
    margin-block-start: 12px;
  }

  .uuwg-site-footer__content .contacts {
    margin-block-start: 0;
    justify-self: self-start;
  }

  .uuwg-site-footer__content .contacts h4 {
    margin-bottom: 4px;
  }

  .uuwg-site-footer__content .contacts p {
    margin-block-start: 12px;
  }

  .uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) {
    justify-self: self-end;
    gap: 0;
  }

  .uuwg-site-footer__content .wp-block-group:has(#mc4wp-form-1) h4 {
    margin-bottom: 16px;
  }

  #mc4wp-form-1 {
    margin-top: 24px;
  }

  .uuwg-site-footer__content .wp-block-social-links {
    justify-self: self-start;
    margin-block-start: 0;
  }

  .uuwg-site-footer__content .copyright {
    justify-self: self-end;
  }

  .site-footer .is-style-wide {
    bottom: 366px;
  }

  .site-footer::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--wp--preset--color--background);
    position: absolute;
    bottom: 104px;
  }
}

@media screen and (max-width: 768px) {
  .uuwg-site-footer__content {
    grid-template-columns: 2fr 1fr 1fr;

  }

  .uuwg-site-footer__content nav[aria-label^="Main Nav"] .wp-block-navigation__container {
    height: 105px;
  }

}