.uuwg-our-projects__grids {
  display: grid;
  grid-template-columns: repeat(3, minmax(365px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.uuwg-our-projects__card__button.wp-element-button {
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--text-sm);
  font-weight: 600;
  line-height: 115%;
  padding: var(--wp--custom--pill--padding-y) var(--wp--custom--pill--padding-x);
  border-radius: var(--wp--custom--border-radius--button);
}