.uuwg-our-projects.alignfull {
  width: 100%;
  color: var(--wp--preset--color--primary);
  margin-block-start: 0;
}

.uuwg-our-projects__content {
  max-width: var(--wp--style--global--wide-size);
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.uuwg-our-projects__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 80px;
}

.uuwg-our-projects__heading {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--heading-xl);
  margin: 0;
}

.uuwg-our-projects__cta {
  display: inline-block;
}

.uuwg-our-projects__grids .uuwg-carousel__track {
  display: grid;
  grid-template-columns: repeat(3, minmax(365px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.uuwg-our-projects__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 530px;
  line-height: 115%;
  border-radius: var(--wp--custom--border-radius--card);
  background-color: var(--wp--preset--color--white);
  overflow: hidden;
}

.uuwg-our-projects__card .uuwg-our-project__permalink {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.uuwg-our-projects__card .uuwg-our-projects__card__title {
  font-size: var(--wp--preset--font-size--body-lg);
  padding: 0;
  margin: 0;
}

.uuwg-our-projects__card__short-description {
  color: var(--wp--preset--color--blue-200);
  font-size: var(--wp--preset--font-size--text-sm);
  font-weight: 600;
  line-height: 115%;
}

.uuwg-our-projects__card img {
  flex: 0 0 313px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uuwg-our-projects__card__content {
  display: flex;
  flex: 242px;
  flex-direction: column;
  padding: 24px;
}

.uuwg-our-projects__card__button {
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--text-sm);
  font-weight: 600;
  line-height: 115%;
  padding: var(--wp--custom--pill--padding-y) var(--wp--custom--pill--padding-x);
  border-radius: var(--wp--custom--border-radius--button);
}

/* Контейнер пагінації */
.uuwg-our-projects__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;
}

/* Кнопки-індикатори */
.uuwg-pagination-btn {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--wp--preset--color--blue-100);
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  color: transparent;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Ховер для неактивних точок */
.uuwg-pagination-btn:hover:not(.is-active) {
  background-color: var(--wp--preset--color--primary);
}

/* Активний стан (довша овальна плашка) */
.uuwg-pagination-btn.is-active {
  width: 36px;
  border-radius: 100px;
  background-color: var(--wp--preset--color--primary);
  cursor: default;
}

.uuwg-carousel__dot.is-active {
  background-color: var(--wp--preset--color--primary);
}



@media screen and (max-width: 1225px) {
  .uuwg-our-projects.alignfull {
    overflow: hidden;
  }

  .uuwg-our-projects__header {
    max-width: 92vw;
    margin-bottom: 40px;
  }

  .uuwg-our-projects__grids .uuwg-carousel__track {
    display: flex;
    gap: 6px;
  }

  .uuwg-our-projects__card.uuwg-carousel__item {
    flex: 0 0 365px;
  }

  .uuwg-our-projects__pagination {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .uuwg-our-projects__cta.wp-element-button {
    font-size: 0;
    position: relative;
    width: 91px;
    height: 31px;
  }

  .uuwg-our-projects__cta.wp-element-button::before {
    content: 'View all';
    position: absolute;
    font-size: var(--wp--preset--font-size--text-sm);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .uuwg-our-projects__cta.wp-element-button::after {
    content: url('./../../assets/images/grth.svg');
    position: absolute;
    width: 6px;
    height: 12px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

}


@media screen and (max-width: 500px) {
  .uuwg-our-projects__cta.wp-element-button {
    padding: 16px;
    white-space: nowrap;
  }

  .uuwg-our-projects__card.uuwg-carousel__item {
    flex: 0 0 332px;
  }
}