.uuwg-donate-fundraise {
  width: 100%;
  padding: 78px 0 103px 0;
  background-color: var(--wp--preset--color--primary);
  border-radius: 32px;
  background-image: url('../../assets/images/decorative/pattern-2-right.svg'), url('../../assets/images/decorative/pattern-2-left.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left bottom;
  background-size: contain, contain;
}

.uuwg-donate-fundraise__content {
  max-width: var(--wp--style--global--wide-size);
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  padding-top: 97px;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
}

.uuwg-donate-fundraise__header {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 570px;
}

.uuwg-donate-fundraise__heading {
  color: var(--wp--preset--color--background);
  margin-bottom: 32px;
  text-align: center;
}

.uuwg-donate-fundraise__header__text {
  color: var(--wp--preset--color--light-blue);
  font-size: var(--wp--preset--font-size--text-body);
  text-align: center;
  line-height: 120%;
}

.uuwg-donate-fundraise__header__text p {
  margin: 0;
  padding: 0;
}

.uuwg-donate-fundraise__cta {
  display: inline-block;
  text-align: center;
}

.uuwg-donate-fundraise__grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 50px;
}

.uuwg-donate-fundraise__card {
  padding: 16px 26.5px;
  background-color: var(--wp--preset--color--light-blue);
  color: var(--wp--preset--color--blue-500);
  font-size: var(--wp--preset--font-size--text-body);
  line-height: 120%;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
}

.uuwg-donate-fundraise__card p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .uuwg-donate-fundraise.alignfull {
    margin-block-start: 0;
    padding: 0;
  }

  .uuwg-donate-fundraise__content {
    padding: 60px 16px 32px 16px;
  }

  .uuwg-donate-fundraise__header {
    max-width: 458px;
    margin-bottom: 32px;
  }

  .uuwg-donate-fundraise__heading {
    margin-bottom: 16px;
  }

  .uuwg-donate-fundraise__grids {
    margin-bottom: 32px;
  }

  .uuwg-donate-fundraise__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uuwg-donate-fundraise__card__text {
    font-size: var(--wp--preset--font-size--text-sm);
  }
}

@media screen and (max-width: 510px) {
  .uuwg-donate-fundraise__grids {
    grid-template-columns: 1fr;
  }

  .uuwg-donate-fundraise__card {
    padding: 16px 19.5px;
  }

  .uuwg-donate-fundraise__cta {
    max-width: 100%;
    width: stretch;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}