.uuwg-impact-glance.wp-block-uuwg-impact-glance {
  width: 100%;
  margin-block-start: 0;
  color: var(--wp--preset--color--primary);
}

.uuwg-impact-glance__content {
  max-width: var(--wp--style--global--wide-size);
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uuwg-impact-glance__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  max-width: 462px;
}

.uuwg-impact-glance__heading {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--heading-xl);
  margin: 0;
  margin-bottom: 24px;
}

.uuwg-impact-glance__header-text {
  font-size: var(--wp--preset--font-size--text-body);
  font-weight: 600;
  line-height: 120%;
  color: var(--wp--preset--color--blue-200);
  margin: 0;
  margin-bottom: 44px;
}

.uuwg-impact-glance__cta {
  display: inline-block;
}

.uuwg-impact-glance__grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.uuwg-impact-glance__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  min-height: 273px;

  line-height: 115%;
  border-radius: var(--wp--custom--border-radius--card);
  background-color: var(--wp--preset--color--light-blue);
  transition: all 200ms ease-in;
}

.uuwg-impact-glance__card:hover {
  background-color: var(--wp--preset--color--blue-100);
}

.uuwg-impact-glance__card .uuwg-impact-glance__card__title {
  font-size: var(--wp--preset--font-size--heading-md);
  padding: 0;
  margin: 0;
}

.uuwg-impact-glance__card__text {
  color: var(--wp--preset--color--blue-200);
  font-size: var(--wp--preset--font-size--text-body);
}

@media screen and (max-width: 1000px) {
  .uuwg-impact-glance__content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .uuwg-impact-glance__header {
    max-width: 75%;
  }

  .uuwg-impact-glance__grids {
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }
}

@media screen and (max-width: 768px) {
  .uuwg-impact-glance.wp-block-uuwg-impact-glance {
    padding: 0;
  }

  .uuwg-impact-glance__header-text {
    margin-bottom: 24px;
    font-size: var(--wp--preset--font-size--text-sm);
  }

  .uuwg-impact-glance__card {
    padding: 18px 12px 16px 12px;
    min-height: 167px;
  }
}

@media screen and (max-width: 768px) {
  .uuwg-impact-glance__grids {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .uuwg-impact-glance__header {
    max-width: 100%;
  }

  .uuwg-impact-glance__content {
    padding-bottom: 82px;
    position: relative;
  }

  .uuwg-impact-glance__header-text {
    margin-bottom: 0;
  }

  .uuwg-impact-glance__cta {
    position: absolute;
    bottom: 0;
    max-width: 89%;
    width: stretch;
    align-items: center;
    display: flex;
    justify-content: center;
  }

}