.uuwg-team-grid.alignfull {
  width: 100%;
  color: var(--wp--preset--color--primary);
  margin-block-start: 0;
}

.uuwg-team-grid__content {
  max-width: var(--wp--style--global--wide-size);
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.uuwg-team-grid__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 80px;
}

.uuwg-team-grid__heading {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--heading-xl);
  margin: 0;
}

.uuwg-team-grid__cta {
  display: inline-block;
}

.uuwg-team-grid__grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: stretch;
  padding-bottom: 8px;
}

.uuwg-team-grid__card {
  max-width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 444px;
  line-height: 115%;
  border-radius: var(--wp--custom--border-radius--card);
  position: relative;
  transition: all 200ms ease-in;
}

.uuwg-team-grid__card:hover {
  box-shadow: 0px 1px 6px rgba(1, 53, 121, 0.12);
}

.uuwg-team-grid__card__image {
  width: 100%;
  min-height: 444px;
  border-radius: var(--wp--custom--border-radius--card);
}

.uuwg-team-grid__card img {
  width: 100%;
  max-width: 305px;
  min-height: 444px;
  object-fit: cover;
  border-radius: var(--wp--custom--border-radius--card);
}

/* These values are for specific photos. If photo will change, it should be change these values */
.uuwg-team-grid__card:first-of-type img {
  /* inset(top right bottom left) */
  object-view-box: inset(34% 10% 23% 14%);
}

.uuwg-team-grid__card:nth-of-type(2) img {
  object-view-box: inset(15% -12% 19% 14%);
}

.uuwg-team-grid__card:nth-of-type(3) img {
  object-view-box: inset(15% 14% 19% -2%);
}

.uuwg-team-grid__card:nth-of-type(4) img {
  object-view-box: inset(23% -12% 30% 5%);
}

.uuwg-team-grid__card:nth-of-type(5) img {
  object-view-box: inset(29% 0% 30% 5%);
}

.uuwg-team-grid__card:nth-of-type(7) img {
  object-view-box: inset(29% 1% 25% 65%);
}

.uuwg-team-grid__card__content {
  display: flex;
  width: 97%;
  flex-direction: column;
  padding: 14px;
  justify-content: space-between;
  background-color: var(--wp--preset--color--light-blue);
  border-radius: 12px;
  position: absolute;
  bottom: 8px;
  left: 4px;
}

.uuwg-team-grid__card .uuwg-team-grid__card__title {
  font-size: var(--wp--preset--font-size--text-body);
  font-weight: 800;
  line-height: 117%;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.uuwg-team-grid__card__position {
  font-size: 15px;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 14px;
}

.uuwg-team-grid__card__footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.uuwg-team-grid__card__period {
  padding: 5px 12px;
  font-size: var(--wp--preset--font-size--text-sm);
  font-weight: 700;
  line-height: 115%;
  background-color: var(--wp--preset--color--blue-100);
  border-radius: 31px;
  white-space: nowrap;
}

.uuwg-team-grid__card__socials {
  display: flex;
}

.uuwg-team-grid__card__socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--wp--preset--color--primary);
}

@media screen and (max-width: 1100px) {
  .uuwg-team-grid__grids {
    grid-template-columns: repeat(3, 1fr);
  }

  .uuwg-team-grid__card img {
    width: 100%;
  }
}


@media screen and (max-width: 860px) {
  .uuwg-team-grid__cta {
    display: none;
  }

  .uuwg-team-grid__grids {
    gap: 4px;
  }

  .uuwg-team-grid__card {
    max-width: 243px;
    min-height: 288px;
  }

  .uuwg-team-grid__card__image {
    min-height: 288px;
  }

  .uuwg-team-grid__card img {
    max-width: 243px;
    min-height: 288px;
  }

  .uuwg-team-grid__card__content {
    padding: 6px;
  }

  .uuwg-team-grid__card .uuwg-team-grid__card__title {
    font-size: 12px;
  }

  .uuwg-team-grid__card__position {
    font-size: 12px;
  }

  .uuwg-team-grid__card__period {
    font-size: 12px;
  }

  .uuwg-team-grid__card__socials {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .uuwg-team-grid__header {
    margin-bottom: 32px;
  }

  .uuwg-team-grid__grids {
    grid-template-columns: repeat(2, 1fr);
  }
}