.uuwg-hero-about-us {
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 349px;
  color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--background);
  border-radius: var(--wp--custom--border-radius--hero);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header--transparent .uuwg-site-logo__dark {
  display: none;
}

.header--transparent .uuwg-site-logo__light {
  display: block;
}

.uuwg-hero-about-us__container {
  max-width: var(--wp--style--global--wide-size);
  padding: 0 var(--wp--custom--spacing--container-gutter) 0;
  max-width: var(--wp--style--global--wide-size);
  margin: 0 auto;
  position: relative;
}

.uuwg-hero-about-us__inner {
  width: 100%;
  text-align: center;
}

.uuwg-hero-about-us__title {
  max-width: 658px;
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--hero);
  line-height: 1.1;
  margin: 0 auto;
  margin-bottom: 32px;
  letter-spacing: -2%;
}

.uuwg-hero-about-us__subtitle {
  font-family: var(--wp--preset--font-family--body);
  font-size: var(--wp--preset--font-size--text-body);
  opacity: 0.9;
  margin: 0 auto;
  margin-bottom: 44px;
  max-width: 630px;
}

.uuwg-hero-about-us__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.uuwg-hero-about-us__button {
  display: inline-block;
  padding: var(--wp--custom--button--padding-y) var(--wp--custom--button--padding-x);
  border-radius: var(--wp--custom--border-radius--button, 999px);
  font-family: var(--wp--preset--font-family--body);
  font-size: var(--wp--preset--font-size--body-lg);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.uuwg-hero-about-us__button--secondary {
  background-color: transparent;
  color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary);
}

.uuwg-hero-about-us__photos .uuwg-hero-about-us__photo {
  max-width: 270px;
  position: absolute;
}

.uuwg-hero-about-us__photo img {
  width: 100%;
  object-fit: cover;
}

/* 177 px this is padding-top of the container and height of header */

.uuwg-hero-about-us__photo--1 {
  top: calc(391px - 177px);
  left: 48px;
}

.uuwg-hero-about-us__photo--1 img {
  width: 265px;
  height: 164px;
  object-view-box: inset(13%);
  border-radius: 10.75px;
}

.uuwg-hero-about-us__photo--2 {
  top: calc(356px - 177px);
  left: 1130px;
}

.uuwg-hero-about-us__photo--2 img {
  width: 269.7px;
  height: 167px;
  border-radius: 10.95px;
}

.uuwg-hero-about-us__photo--3 {
  top: calc(677px - 177px);
  left: -93px;
}

.uuwg-hero-about-us__photo--3 img {
  width: 265px;
  height: 164px;
  border-radius: 10.75px;
}

.uuwg-hero-about-us__photo--4 {
  top: calc(635px - 177px);
  left: 391px;
}

.uuwg-hero-about-us__photo--4 img {
  width: 249px;
  height: 163px;
  border-radius: 8px;
}

.uuwg-hero-about-us__photo--5 {
  top: calc(678px - 177px);
  left: 832px;
}

.uuwg-hero-about-us__photo--5 img {
  width: 249px;
  height: 163px;
  border-radius: 8px;
}

.uuwg-hero-about-us__photo--6 {
  top: calc(620px - 177px);
  left: 1263px;
}

.uuwg-hero-about-us__photo--6 img {
  width: 265px;
  height: 164px;
  border-radius: 10.75px;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 375px) {}