.uuwg-socials-share {}

.uuwg-socials-share__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.uuwg-socials-share__button {
  display: flex;
  padding: 9px;
  align-items: center;
  justify-content: center;
  background-color: var(--wp--preset--color--light-blue);
  border: none;
  border-radius: 50%;
  transition: all 300ms ease-in;
}

.uuwg-socials-share__button:hover {
  background-color: var(--wp--preset--color--blue-100);
}

.uuwg-socials-share__button:active {
  background-color: var(--wp--preset--color--blue-300);

}

.uuwg-socials-share__button:disabled {
  background-color: var(--wp--preset--color--dark-grey);
}