.uuwg-socials-share__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.uuwg-socials-share__button {
  display: flex;
  padding: 9px;
  align-items: center;
  justify-content: center;
  background-color: var(--wp--preset--color--light-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.uuwg-socials-share__button:hover {
  background-color: var(--wp--preset--color--blue-100);
}

.uuwg-socials-share__button:active {
  background-color: var(--wp--preset--color--blue-300);

}

.uuwg-socials-share__button:disabled {
  background-color: var(--wp--preset--color--dark-grey);
}

.uuwg-socials-share__button__icon {
  width: 24px;
  height: 24px;

  background-color: var(--wp--preset--color--primary);

  mask-image: var(--icon-url);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: var(--icon-url);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.uuwg-socials-share__button:active .uuwg-socials-share__button__icon,
.uuwg-socials-share__button:disabled .uuwg-socials-share__button__icon {
  background-color: var(--wp--preset--color--blue-100);
}

.uuwg-copy-notification {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  background: var(--wp--preset--color--blue-500);
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.uuwg-copy-notification.is-visible {
  opacity: 1;
  transform: translate(-50%, 0);
  z-index: 9999;
}

@media (min-width: 701px) {

  .uuwg-socials-share__item--instagram,
  .uuwg-socials-share__item--youtube {
    display: none;
  }
}