.uuwg-focus-area {
  width: 100%;
  padding: 78px 0 103px 0;
  background-color: var(--wp--preset--color--primary);
  border-radius: 32px;
  background-image: url('../../assets/images/decorative/pattern-right.svg'), url('../../assets/images/decorative/pattern-left.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left bottom;
  background-size: auto, auto;
}

.uuwg-focus-area__content {
  width: var(--wp--style--global--wide-size);
  padding-right: var(--wp--custom--spacing--container-gutter);
  padding-left: var(--wp--custom--spacing--container-gutter);
  margin: 0 auto;
}

.uuwg-focus-area__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;
}

.uuwg-focus-area__heading {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--heading-xl);
  color: var(--wp--preset--color--background);
  margin: 0;
}

.uuwg-focus-area__cta {
  display: inline-block;
}

.uuwg-focus-area__grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.uuwg-focus-area__two-card {
  display: flex;
  flex-direction: column;
  position: relative;
  /* 1. Ховаємо другу картку за межами контейнера */
  overflow: hidden;
  /* 2. Заокруглюємо кути батьківського контейнера, щоб overflow обрізав їх */
  border-radius: var(--wp--custom--border-radius--card);
}

.uuwg-focus-area__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  min-height: 282px;
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--primary);

  line-height: 115%;
  border-radius: var(--wp--custom--border-radius--card);
  box-sizing: border-box;
  cursor: pointer;
}

.uuwg-focus-area__card:nth-of-type(2) {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--primary);
  line-height: 120%;
  font-weight: 600;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Початковий стан */
  transform: translateY(100%);
  opacity: 0;

  /* 3. Плавна анімація в ОБОХ напрямках замість @keyframes */
  transition: transform 550ms cubic-bezier(0.25, 1, 0.5, 1),
    opacity 500ms ease-in-out;
}

/* 4. ГОЛОВНЕ: Відслідковуємо :hover на БАТЬКІВСЬКОМУ обгортці */
.uuwg-focus-area__two-card:hover .uuwg-focus-area__card:nth-of-type(2) {
  transform: translateY(0);
  opacity: 1;
}

.uuwg-focus-area__card .uuwg-focus-area__card__title {
  font-size: var(--wp--preset--font-size--heading-md);
  padding: 0;
  margin: 0;
}

.uuwg-focus-area__card__number {
  font-size: var(--wp--preset--font-size--heading-md);

}