.uuwg-partners-collaborations {
  width: 100%;
  padding: 78px 0 103px 0;
  color: var(--wp--preset--color--primary);
}

.uuwg-partners-collaborations__content {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.uuwg-partners-collaborations__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.uuwg-partners-collaborations__heading {
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--heading-xl);
  margin: 0;
  margin-bottom: 24px;
}

.uuwg-partners-collaborations__cta {
  display: inline-block;
}

.uuwg-partners-collaborations__row {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  /* gap: 24px; */
  align-items: center;
  justify-self: start;
  animation: infinity_scroll var(--speed) linear infinite;
}

/* Зупинка анімації при наведенні курсора (для зручності кліку) */
.uuwg-partners-collaborations__row:hover {
  animation-play-state: paused;
}

.uuwg-partners-collaborations__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-shrink: 0 !important;
  line-height: 115%;
  /* width: 196px; */
  border-radius: var(--wp--custom--border-radius--card);
  background-color: var(--wp--preset--color--white);
  overflow: hidden;
}

.uuwg-partners-collaborations__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes infinity_scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    /* Автоматично розраховує зсув на рівно 1 комплект карток незалежно від їх кількості */
    transform: translateX(calc(-100% / var(--repeats, 2)));
  }
}