<!-- wp:template-part {"slug":"header","theme":"uuwg-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|80"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<main class="wp-block-group alignfull">

	<!-- wp:uuwg/hero /-->

	<!-- wp:uuwg/mission /-->

	<!-- wp:uuwg/what-we-do /-->

	<!-- wp:uuwg/focus-area /-->

	<!-- wp:uuwg/impact-glance /-->

	<!-- wp:uuwg/donate-fundraise /-->

	<!-- wp:uuwg/our-projects {"countOfProjects":3} /-->

	<!-- wp:uuwg/partners-collaborations {"anchor":"partners"} /-->

	<!-- wp:uuwg/news-events {"countOfNews":3} /-->

	<!-- wp:uuwg/get-involved {"anchor":"get_involved"} /-->

	<!-- wp:template-part {"slug":"contact-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->