<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading -->
	<h1>News &amp; Events</h1>
	<!-- /wp:heading -->
	<!-- wp:query {"query":{"postType":"news_event","perPage":9}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:uuwg/card {"variant":"news"} /-->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination /-->
	</div>
	<!-- /wp:query -->
	<!-- wp:template-part {"slug":"contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
