<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading -->
	<h1>Documents</h1>
	<!-- /wp:heading -->
	<!-- wp:uuwg/filter-dropdown {"taxonomy":"document_year"} /-->
	<!-- wp:query {"query":{"postType":"document","perPage":12}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:uuwg/card {"variant":"document"} /-->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination /-->
	</div>
	<!-- /wp:query -->
	<!-- wp:template-part {"slug":"contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
