<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	About Us
	<!-- wp:uuwg/hero /-->
	<!-- wp:uuwg/mission /-->
	<!-- wp:uuwg/values-circles /-->
	<!-- wp:post-content /--> <!-- "Our story" — редагується як звичайний контент сторінки -->
	<!-- wp:uuwg/team-grid /-->
	<!-- wp:template-part {"slug":"contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->